<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Portal</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
</head>

<body class="background">
<nav class="main_div">
    <div class="logo_left">
        <label class="logo">
            jobportal
        </label>
        <label class="logo_com">
            .com
        </label>
    </div>
    <div class="logo_right">
        <label class="Candidate_login_btn">
            Ứng viên |
            <a th:href="@{/login}">
                Đăng nhập
            </a>
            <a th:href="@{/register}">
                / Đăng ký
            </a>
        </label>
        <label class="Recruiter_login_btn">
            Nhà tuyển dụng |
            <a th:href="@{/login}">
                Đăng nhập
            </a>
            <a th:href="@{/register}">
                / Đăng ký
            </a>

        </label>
    </div>
</nav>
<form th:action="@{/global-search/}">
    <div class="searchBox">
        <div class="inner">

            <input type="text" placeholder="Search for Jobs" name="job" th:value="${job}"/>
            <input type="text" placeholder="Job Location" name="location" th:value="${location}"/>
            <button type="submit"><i class="fa fa-search"></i></button>

        </div>
    </div>
</form>
<footer>
    <label class="copy-right">Bản quyền © 2024 jobportal.com</label>
</footer>
</body>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</html>
